@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f7fff7;
    min-height: 100vh;
    overflow-x: hidden;
    text-align: justify;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

header img {
    width: 150px;
    margin-right: 200px;
}

.navigation a {
    text-decoration: none;
    color: #014698;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #014698;
    color: #ffffff;
}

.parallax {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
}

#text {
    font-size: 5em;
    color: #333;
    z-index: 10;
}

#subtitle {
    font-size: 3em;
    color: #444;
    z-index: 10;
}

.parallax div {
    flex-direction: row;
    align-items: flex-start;
}

.parallax img {
    width: 500px;
    position: relative;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #014698;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec p {
    flex: 1;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
    margin-right: 20px;
}

.sec img {
    width: 400px; /* Ajuste conforme necessário */
    height: auto;
    border-radius: 20px; /* Bordas arredondadas para a imagem */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.skills {
    position: relative;
    background: #f7fff7;
    padding: 100px;
}

.skills h2 {
    font-size: 3em;
    color: #000;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-card {
    position: relative;
    width: 200px;
    height: 250px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: transform 0.3s;
}

.skill-card:hover {
    transform: scale(1.05);
}

.skill-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.skill-card h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 0.3s;
}

.projects-container #lp {
    width: 100px; /* Ajuste conforme necessário */
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 10px;
    margin-left: 20px;
}

.project-card {
    position: relative;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.projects-container:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.project-card ul {
    padding-left: 30px;
}

.project-card h3 {
    font-size: 2em;
    color: #333;
}

.tech-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tech-container h4 {
    margin-right: 10px; /* Espaçamento entre o h4 e as imagens */
    white-space: nowrap; /* Impede a quebra de linha no h4 */
    color: #333;
}

@media (max-width: 999px) {
    .sec .content {
        flex-direction: column;
        align-items: center;
    }

    .sec p {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .sec img {
        width: 80%;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-card {
        width: 80%;
    }
}